@using Microsoft.AspNetCore.Identity
@model IEnumerable<Rent_A_Car.BookedCar>
    @inject SignInManager<ApplicationUser> SignInManager
    @inject UserManager<ApplicationUser> UserManager


    @{
        ViewData["Title"] = "Reservations";
    }

    <h1>Reservations</h1>

    <p>
        <a class="btn btn-primary" asp-action="Create">Create New</a>
    </p>
    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.UserId)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.StartDay)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.EndDay)
                </th>
                <th>
                    <p>Vechicle</p>
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (BookedCar item in Model)
             {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.UserId)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.StartDay)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.EndDay)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.CarModelDetails)
                    </td>
                    <td>
                        <a class="btn btn-success" asp-action="Edit" asp-route-id="@item.BookCarId">Edit</a>
                        <a class="btn btn-danger" asp-action="Delete" asp-route-id="@item.BookCarId">Delete</a>
                    </td>
                </tr>
            }

            @section Scripts {
                @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
            }

        </tbody>
    </table>
