@model IEnumerable<Rent_A_Car.Car>

@{
    ViewData["Title"] = "CarIndex";
}

<h1>Car Archive</h1>
@if (User.IsInRole("Admin"))
{
    <p>
        <a class="btn btn-primary" asp-action="Create">Create New</a>
    </p>
}
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Brand)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Model)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CarYear)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PricePerDay)
            </th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Brand)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Model)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CarYear)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PricePerDay)
            </td>

            @if (User.IsInRole("Admin"))
             {
                 <td>
                         <a class="btn btn-success" asp-action="Edit" asp-route-id="@item.CarId">Edit</a>
                         <a class="btn btn-danger" asp-action="Delete" asp-route-id="@item.CarId">Delete</a>
                </td>
             }
        </tr>
}
    </tbody>
</table>
