@model IEnumerable<Rent_A_Car.Car>

@{
    ViewData["Title"] = "Cars";
}


<h1>Car Archive</h1>
@if (User.IsInRole("Admin"))
{
    <p>
        <a class="btn btn-primary float-right" asp-action="Create">Create New</a>
    </p>
}
<br>
<br>
<table class="table">
    <thead>
        <tr>
            <th>
                Brand
            </th>
            <th>
                Model
            </th>
            <th>
                Car Year
            </th>
            <th>
                Description
            </th>
            <th>
                Price per Day
            </th>
            <th class="align-content-center">
                Actions
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Brand)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Model)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CarYear)
            </td>
            @if (item.Description == null)
            {
                <td>
                    <p style="text-align:left;">No Description</p>    
            </td>
            }
            else
            {
                <td>
                    @Html.DisplayFor(modelItem => item.Description)
                </td>
            }
            <td>
                @Html.DisplayFor(modelItem => item.PricePerDay)$
            </td>

            @if (User.IsInRole("Admin"))
            {
                <td>
                    <a class="btn btn-success" asp-action="Edit" asp-route-id="@item.CarId">Edit</a>
                    <a class="btn btn-danger" asp-action="Delete" asp-route-id="@item.CarId">Delete</a>
                </td>
            }
        </tr>
}
    </tbody>
</table>
